<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.isport.tracker.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_isport"
        android:label="@string/name_isport"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label">

        <activity
            android:name="com.isport.fitness.activity.MainActivityGroup"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.isport.fitness.activity.HorizontalScreenActivityFitness"
            android:screenOrientation="landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.isport.fitness_tracker_pro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />

        </provider>
    </application>

</manifest>