<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.isport.tracker.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_isport"
        android:label="@string/name_isport"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon,android:label">

        <activity android:name="co.nowly.Energetics.main.settings.AboutUsActivity"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.energetics.tracker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />

        </provider>
    </application>

</manifest>